<div id="product_modal" role="dialog" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Product</h4>
        <div class="modal-body">
          <div id="food-error">
          </div>
          <%= form_tag save_products_path, remote: true, id: 'food-form-modal' do %>
            <%= hidden_field_tag :id, params[:id] %>
            <%= hidden_field_tag :user_food_type, params[:user_food_type]%>
            <div class="form-group">
              <%= label_tag :name%>
              <%= text_field_tag :name, params[:name], placeholder: 'Product name', autofocus: true, class: 'form-control' %>
            </div>
            <div class="input-group">
              <span class="input-group-addon">R$</span>
              <%= text_field_tag :price, params[:price], placeholder: '0,00', class: 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' } %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
              <%= button_tag(type: :submit, class: 'btn btn-success') do %>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <% end %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>