<div class="list-group" id="menu-div">
  <div class="list-group-item">
    <% @user.user_food_types.each do |user_food_type| %>
      <div class="list-group">
        <div class="food_type">
          <label>
            <%=	user_food_type.food_type.name %>
          </label>
        </div>
        <div class="btn-group btn-group-sm btn-food" role="group">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#product_modal"
                  data-type=<%=user_food_type.id%>>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
        <% user_food_type.foods.each do |food| %>
          <div class="list-group-item">
            <div class="food">
              <label>
                <%= food.name %>
              </label>
            </div>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#product_modal"
                      data-name="<%=food.name%>" data-id="<%=food.id%>" data-type="<%=food.user_food_type_id%>"
                          data-price="<%=food.price%>">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <%= link_to products_path(:id => food.id), :method => :delete,
                          :data => {:confirm => "Are you sure?"},
                          :class => "btn btn-xs btn-danger" do%>
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <% end %>
              <!--<button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>-->
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render 'modal' %>
</div>

